.key {
  font-weight: 700 !important;
  font-size: 24px !important;
}


.get-started-content {
  margin-top: 10px !important;
}

.vl {
  border-left: 1px solid #000;
  height: 30px;
}

.key {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.btn-email {
  font-weight: 800 !important;
  color: #000 !important;

  &.v2 {
    color: #6AC3A3 !important;
  }
}
