<div class="mt-4">
  <!-- <div class="d-flex justify-content-end">
    <button class="close-button" [mat-dialog-close]="false">
      <i class="ri-close-line"></i>
    </button>
  </div> -->

  <div class="get-started-header">
    <h4 class="mb-0 text-center">Confirm Your Email Address</h4>
    <!-- <h2 class="mb-0 text-center">Let's get you started.</h2> -->
  </div>
</div>
<div class="px-4">
  <div class="get-started-content">
    <div
      class="d-flex flex-column flex-sm-column flex-md-row flex-lg-row align-items-center"
    >
      <div
        class="get-started d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column"
      >
        <div class="value mb-0 text-center">
          <span>Please confirm that your email address below is correct:</span>
          <div class="key text-center mt-2">
            <span>{{ data?.email }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
      <div class="d-flex justify-content-center w-100">
        <a class="btn-email" [mat-dialog-close]="false">Cancel</a>
      </div>
      <div class="vl">
      </div>
      <div class="d-flex justify-content-center w-100">
        <a class="btn-email v2" [mat-dialog-close]="true">Continue</a>
      </div>
    </div>
  </div>
</div>
