<div class="container">
  <div class="d-flex justify-content-between align-items-center mt-5">
    <div class="">
      <in-backbutton></in-backbutton>
      <div class="auth-image-wrapper d-flex justify-content-center">
        <img src="/assets/logo/new-logo.png"width="200px" alt="Primary Logo">
      </div>
    </div>
    <div class="time-wrapper">

      <p class="p-0 m-0">Last updated: 10 July 2024</p>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="terms-wrapper col-md-12">
      <div class="title text-center">
        <h2>TERMS OF USE</h2>
      </div>
      <div class="terms-body mt-5">
        <p>
          Welcome to Primary Offer by Chapel Hill Denham (“<strong class="fw-bolder"
            >Primary Offer</strong
          >”), a personalized digital public offering platform that provides
          digital public offering solutions (“<strong>Services</strong>”). This
          document (the “<strong>Terms and Conditions</strong>”) provides you
          with important information about the services provided by Primary
          Offer with respect to the access and use of Primary Offer
          , our mobile applications, websites and our other online
          services (collectively, the “<strong>Platform</strong>”). With Primary
          Offer, you can effortlessly track your transactions from the
          convenience of your computer, tablet or smartphone. We look forward to
          your use of our Platform or services.
        </p>
        <p>
          These Terms and Conditions may be varied and supplemented from time to
          time. We advise that you check this page often, referring to the date
          of the last modification. If a user objects to any of the changes to
          the terms of use, the user must cease using the Platform or services
          immediately.
        </p>
        <div><strong>Terms of Use Agreement</strong></div>
        <ol type="1">
          <li>
            <div><strong>Description of our Services</strong></div>
            <div>
              Our Services include the provision of a digital infrastructure,
              for the purpose of public offerings; enabling the full
              participation of eligible individuals and all market
              intermediaries, including Receiving Agents working with Exchanges
              as well as granting real time-online access to market Regulators.
              The Service may include or make available alerts related to your
              account, symbols, quotes and other materials or information
              (collectively, “Content”). Some of the Content is supplied by
              companies that are not affiliated with Primary Offer
              (“<strong>Information Providers</strong>”).
            </div>
          </li>
          <li class="mt-4">
            <div><strong>Agreement and Acceptance of Terms</strong></div>
            <div>
              This Terms and Conditions, along with any exhibits, disclosures,
              addendums or amendments hereto, as the same may be amended or
              modified from time to time (collectively, this
              “<strong>Agreement</strong>”) constitutes an agreement between you
              and us, which sets forth the terms and conditions applicable to
              your access and use of the Platform and other Services including
              those provided by our registered professionals. In this Agreement,
              we refer to those who use our Services collectively as
              “<strong>users.</strong>” Some of our Services are provided
              through the Platform and other Services and through affiliated
              companies.
              <p>
                Your use of our Platform or Services is subject to our <a class="a-link" routerLink="/auth/privacy-policy">Privacy Policy</a>, which explains how we gather, use, disclose and manage
                your personal information. Terms used but not defined in this
                Agreement have the meanings provided to them in our <a class="a-link" routerLink="/auth/privacy-policy">Privacy Policy</a>.
              </p>
              <p>
                <strong
                  >By accessing or using the Platform or any Service for any
                  public offering (“Offer”), you understand and agree to be
                  bound by the terms and conditions of this Agreement as well as
                  the <a class="a-link" routerLink="/auth/privacy-policy">Privacy Policy</a> linked here, which may be amended from time
                  to time in the future. If you do not agree to this Agreement,
                  then you may not use the Platform or Services. You also
                  confirm that:</strong
                >
              </p>
              <ol type="a">
                <li>You are 18 years of age or over.</li>
                <li>
                  In respect of purchase of shares under any Offer, the Issuer
                  and the Issuing Houses are entitled in their absolute
                  discretion to accept or reject your application.
                </li>
                <li>
                  You have attached the amount payable in full on the
                  application for the number of ordinary shares of the Issuer.
                </li>
                <li>
                  You agree to accept the same or any smaller number of shares
                  in respect of which allotment may be made based upon the terms
                  of the Pricing Supplement.
                </li>
                <li>
                  You have been provided with sufficient opportunity to access
                  the Offer documents and the information disclosed therein.
                </li>
                <li>
                  You have read a copy of the Pricing Supplement for the Offer,
                  issued by the Issuing Houses on behalf of the Issuer.
                </li>
                <li>
                  You are able to enter into legally binding contracts, and you
                  agree that this Agreement legally binds you in the same manner
                  that a signed, written, paper contract does. You may not use
                  the Platform or Services in any manner or attempt to access
                  the Platform or any Service if you are not willing to be bound
                  and abide by this Agreement.
                </li>
                <li>
                  We are not responsible for the financial or other products and
                  services or for the accuracy of the data obtained from third
                  party sites that are displayed or reported through our
                  Platform or any of our Services. While the Platform and
                  Services provided by Primary Offer may provide
                  significant assistance in submitting your application for the
                  Offer, you should consult with a professional financial
                  advisor before making investment decisions.
                </li>
                <li>
                  We reserve the right to change or modify this Agreement or our
                  <a class="a-link" routerLink="/auth/privacy-policy">Privacy Policy</a>, or modify or discontinue any portion of the
                  Services or features and functionality provided through the
                  Platform, from time to time. If we decide to change this
                  Agreement or our <a class="a-link" routerLink="/auth/privacy-policy">Privacy Policy</a>, we will post such changes on
                  the Platform or on our website, and such changes will be
                  effective at such time. We reserve the right to modify or
                  discontinue your access to the Platform or portion thereof, or
                  any Service, without prior notice or reason to you. You agree
                  that we shall not be liable to you or any third party for any
                  modification of the Platform, the Services, this Agreement, or
                  your access to the Platform or Services.
                </li>
                <li>
                  The Platform and Services are intended to be accessed and used
                  only by individuals that have reached the legal age of
                  majority in the jurisdiction where they are located, which may
                  be 18 years or older, depending on the jurisdiction. You may
                  not use or access this Platform or any Service unless you have
                  reached the legal age of majority in the jurisdiction where
                  you are located.
                </li>
                <li>
                  The Platform is only intended for use by persons located in
                  Nigeria. Primary Offer makes no representation that the
                  Platform is appropriate or available for use outside Nigeria.
                  Similarly, Primary Offer Nigeria makes no representations that
                  accessing the Platform from locations outside Nigeria is legal
                  or permissible under local law.
                </li>
                <li>
                  You will comply with all applicable laws, including, without
                  limitation, privacy laws, intellectual property laws,
                  anti-spam laws, export control laws, tax laws, and regulatory
                  requirements.
                </li>
                <li>
                  That information inputted on the Platform are true, accurate
                  and complete in all material respect
                </li>
              </ol>
            </div>
          </li>
          <li class="mt-4">
            <div><strong>Platform and Services - Risk Warning</strong></div>
            <div>
              By using the Services, you understand and acknowledge that the
              investment results you could obtain from the Services provided by
              Primary Offer cannot be guaranteed. All investments entail
              a risk of loss and you may lose some or all of your money. You
              also understand that all investments are subject to various
              market, currency, economic, political, business and other risks.
              Investments can be very volatile and can result in a loss of
              principal. Investments risks include currency fluctuation,
              political and economic instability and differences in financial
              reporting. Investments in smaller companies may involve greater
              risks than investments in larger, more mature companies. While the
              Services may assist in helping you submit an application, you
              should consult with a professional investment advisor before
              making investment decisions or deciding on significant changes to
              your personal financial strategy.
            </div>
          </li>

          <li class="mt-4">
            <div><strong>Acting as Your Authorized Agent</strong></div>
            <p>
              By accessing and using the Platform and/or Services, you expressly
              authorize and direct Primary Offer, on your behalf, to
              electronically retrieve your account information maintained by
              third-party financial institutions with which you have a legally
              binding customer relationship (“Account Information”). Subject to
              our privacy procedures as described in the <a class="a-link" routerLink="/auth/privacy-policy">Privacy Policy</a>, Primary
              Offer may work with one or more third party financial
              service technology providers to access and retrieve your Account
              Information.
            </p>
            <p>
              FOR PURPOSES OF THIS AGREEMENT AND SOLELY TO OBTAIN AND PROVIDE
              THE ACCOUNT INFORMATION TO YOU AS PART OF THE SERVICES, YOU GRANT
              PRIMARY OFFER A LIMITED POWER OF ATTORNEY, AND APPOINT
              PRIMARY OFFER AS YOUR ATTORNEY-IN-FACT AND AGENT, WITH FULL
              POWER OF SUBSTITUTION AND RE-SUBSTITUTION, FOR YOU AND IN YOUR
              NAME, PLACE AND STEAD, IN ANY AND ALL CAPACITIES, TO ACCESS THIRD
              PARTY SITES, SERVERS OR DOCUMENTS, RETRIEVE INFORMATION AND USE
              YOUR INFORMATION WITH THE FULL POWER AND AUTHORITY TO DO AND
              PERFORM EACH AND EVERY ACT AND THING REQUISITE AND NECESSARY TO BE
              DONE IN CONNECTION WITH SUCH ACTIVITIES, AS FULLY TO ALL INTENTS
              AND PURPOSES AS YOU COULD DO IN PERSON.
            </p>
            <p>
              YOU ACKNOWLEDGE AND AGREE THAT WHEN PRIMARY OFFER IS
              ACCESSING AND RETRIEVING YOUR ACCOUNT INFORMATION FROM THIRD PARTY
              SITES, PRIMARY OFFER IS ACTING AS YOUR AGENT, AND NOT AS
              THE AGENT OF OR ON BEHALF OF ANY THIRD PARTY. YOU AGREE THAT
              THIRD-PARTY ACCOUNT PROVIDERS SHALL BE ENTITLED TO RELY ON THE
              FOREGOING AUTHORIZATION, AGENCY AND POWER OF ATTORNEY GRANTED BY
              YOU.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Your Registration Information</strong></div>
            <p>
              In order to use our Platform or any of the Services, you will
              first need to create a Primary Offer user account
              (“Account”) on the Platform and shall supply, amongst other
              things, your surname and other names, Bank Verification Number or
              any other biometric numbering systems; mobile telephone number and
              or email address. To establish an Account you must provide
              Personal Information (as defined in our <a class="a-link" routerLink="/auth/privacy-policy">Privacy Policy</a>) that is
              collected on the secure enrollment page. See the <a class="a-link" routerLink="/auth/privacy-policy">Privacy Policy</a>
              for further information.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Your Electronic Disclosure Consent</strong></div>
            <p>
              By providing your email to enroll for use of our Services and/or
              Platform, you consent to receive all notices and information
              regarding our Services and other offerings electronically.
              Electronic communications may be posted on our Platform and/or
              delivered to your registered e-mail address. All communications in
              electronic format will be considered to be in “writing,” and to
              have been received no later than five (5) business days after
              posting or dissemination, whether or not you have received or
              retrieved the communication. Your consent to receive
              communications electronically is valid until you end your
              relationship with Primary Offer. It is your responsibility
              to provide us with true, accurate and complete email addresses,
              contact and other information related to this disclosure and to
              maintain and update promptly any changes in this information. You
              may print a copy of any electronic communications and retain it
              for your records. We reserve the right to terminate or change the
              terms and conditions on which we provide electronic communications
              and will provide you notice thereof in accordance with applicable
              law.
            </p>
            <p><strong>SMS/Text Messaging Service</strong></p>
            <p>
              You may receive SMS/text messages from Primary Offer about
              Account-related news and alerts and/or promotional offers for
              Primary Offer products and services. By enrolling in
             our services, you agree to receive text
              messages from Primary Offer to your mobile phone number
              provided. You certify that your mobile number provided is correct
              and that you are authorized to enroll the designated mobile number
              to receive such text messages. You acknowledge and agree that the
              text messages may be sent using an automatic telephone dialing
              system and that standard message and data rates may apply. Consent
              to receive text messages for promotional purposes is not required
              as a condition of purchase or use of the Services. The text
              messaging may not be compatible with all mobile phone models.
              Primary Offer is not responsible for any delays upon
              sending or receiving text messages.
            </p>
            <p>
              To unsubscribe from text messages at any time reply STOP, END or
              QUIT to any text message you receive from Primary Offer.
              You consent that following such a request to unsubscribe, you may
              receive additional messages from Primary Offer confirming
              your request. Note that unsubscribing from promotional and/or
              account-related texts will not prevent Primary Offer from
              sending you text messages for security and authentication
              purposes.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Cost of Service</strong></div>
            <p>
              Your use of the Platform and related Services are offered free of
              charge. Primary Offer reserves the right, in its sole
              discretion, to amend or change it pricing policy for its current
              Services or any additional services that we may offer.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Data and Data Integrity</strong></div>
            <p>
              The overall integrity and quality of the data presented by Primary
              Offer to you is an important element in providing you with
              an accurate picture of your account. Primary Offer,
              however, is not responsible for and cannot guarantee the accuracy
              of data we provide.
            </p>
            <p>
              Primary Offer may not be able to foresee or anticipate
              technical or other difficulties which may result in failure to
              obtain data, personalization settings or other service
              interruptions. Primary Offer assumes no responsibility for
              the timeliness, accuracy, deletion, non-delivery or failure to
              store any user data, loss of user data, communications or
              personalization settings. Primary Offer encourages you to
              periodically confirm the valuation or execution price of
              particular investments through independent sources, such as an
              investment adviser, broker-dealer or other financial institution.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>External Links</strong></div>
            <p>
              The Platform may contain links to certain content created by third
              parties that are not affiliated with Primary Offer. Primary
              Offer is not responsible for such content and does not
              endorse or approve it. Such content may contain terms and
              conditions, privacy provisions, confidentiality provisions, or
              other provisions that differ from the terms and conditions
              applicable to the Platform. Primary Offer assumes no
              responsibility or liability whatsoever for the accuracy,
              reliability, or opinions contained in such content. If you decide
              to access such content, you do so at your own risk.
            </p>
          </li>
          <li class="mt-4">
            <div>
              <strong>Other Obligations While You Use the Services</strong>
            </div>
            <p>
              <u>Confidentiality:</u> You agree and understand that you are
              responsible for maintaining the confidentiality of your Account’s
              login information and password. You should also maintain
              appropriate anti-virus and anti- malware software on your
              computer, so that your Account login information is not
              compromised through your own negligence. If you receive evidence
              that someone has committed fraud by accessing your Account you
              must contact us immediately at info@primaryofferng.com.
            </p>
            <p>
              <u> Accurate and Up-to-Date Information:</u> Our Services depend
              on your providing us with complete, accurate and up-to-date
              information, both now and in the future about yourself and your
              accounts. In turn, we will provide you with online security as
              described in our <a class="a-link" routerLink="/auth/privacy-policy">Privacy Policy</a>. Those assurances are conditioned
              upon your provision of correct contact and account information to
              us, and never misrepresenting to us your identity or account
              registration information (e.g. for the use of your third-party
              websites and accounts)
            </p>
            <p>
              <u> You agree that you will NOT do any of the following:</u> (i)
              engage in behavior that will put your personal information at
              unnecessary risk, such as unsecured transmitting, or publishing
              your Login or passwords; (ii) use our Platform, Services or any of
              your accounts for illegal purposes, (iii) use our Platform or
              Services to transmit anything that is unlawful, libelous, intended
              to harass or violate the rights of another; (iv) resell or make
              any commercial use of the Platform or Services, as they are
              intended solely for your use as an end user; (v) reverse engineer
              or decompile any technology associated with the Platform or
              Services, including but not limited to any software applications,
              Java applets or plug-ins associated with the Services; (vi) use
              any robot, spider, webcrawler, scraper, deep link or similar
              automated extraction or data gathering mechanism, program or tool
              to access, copy or monitor our Platform or Services or any portion
              thereof without our prior written consent; (vii) post or transmit
              any file or email which contains viruses, worms, Trojan horses or
              any other damaging or destructive elements; or (viii)
              create/register accounts or aggregate financial institutions with
              the Service through unauthorized means, including but not limited
              to, by using an automated device, script, bot, spider, crawler or
              scraper.
            </p>
            <p>
              <u>Consent to Recording:</u> You consent to the recording of any
              electronic or written correspondence and any or all telephone
              conversations between you, us and any of our affiliates in
              connection with this Agreement or the Services, and agree and
              understand that recordings may be submitted in evidence in any
              legal proceeding relating to this Agreement. For compliance and
              regulatory purposes, we reserve the right to keep an audit trail
              of all financial insights or investment advice that we provided to
              you.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Confidentiality and Feedback</strong></div>
            <p>
              We always welcome your correspondence, feedback, comments,
              complaints and suggestions (collectively,
              “<strong>Feedback</strong>”) as this will help us improve our
              Services. You agree that all Feedback becomes our confidential
              information (“<strong>Confidential Information</strong>”). In
              addition, any of our trade secrets, computer software, product
              specifications as well as any non-public technical, financial or
              business information that we share with you is also our
              Confidential Information. You agree not to disclose or share any
              of our Confidential Information with any third party, including,
              without limitation, any members of the press or colleagues.
              Feedback may be submitted to <u>info@primaryofferng.com.</u>
            </p>
          </li>
          <li class="mt-4">
            <div>
              <strong>Third Party Software and Service Providers</strong>
            </div>
            <p>
              To facilitate our provision of the Platform and Services, we
              license software, tools and services from third party providers.
              From time to time, we may revise this Agreement as requested by
              our third-party providers and require that you agree to additional
              pass-through terms with respect to such third-party providers. In
              the event that any use of the services of such third-party
              providers results in you leaving our Platform and entering the
              site of a third-party provider, then you will be subject to the
              terms of service or use and the <a class="a-link" routerLink="/auth/privacy-policy">Privacy Policy</a> of such third-party
              provider, so please review such terms carefully. Also, when you
              use or access the sites of your financial services providers, you
              will be subject to their terms of use/service and online policies,
              and your use of their services constitutes your agreement to their
              online terms and policies. Primary Offer may provide
              experiences on social media platforms such as Facebook®,
              Instagram®, Twitter® and LinkedIn® that enable online sharing and
              collaboration among users who have registered to use them. Any
              content you post, such as pictures, information, opinions, or any
              personal information that you make available to other participants
              on these social platforms, is subject to the terms of use and
              privacy policies of those platforms. Please refer to those social
              media platforms to better understand your rights and obligations
              with regard to such content.
            </p>
          </li>

          <li class="mt-4">
            <div>
              <strong>Financial Services and Third-Party Offers</strong>
            </div>
            <p>
              Primary Offer shall not be liable for any and all losses
              which may arise from Investment advice provided by Primary Offer
              , or any of its related companies. Investment advice refers
              to any recommendations, suggestions, analysis, or opinions given
              to you through its authorised representatives concerning buying,
              selling, holding, evaluating or analyzing any security or related
              type of investment. Investment advice provided by Primary Offer
               or any of its related companies also refers to any
              recommendations, suggestions, analysis, or opinions given to
              Primary Offer’s users through the service.
            </p>
            <p>
              <u> Primary Offer</u> and <u>Third-Party Offers:</u> Some
              parts of the Services may, either today or in the future, be
              supported by advertising or marketing partnership relationships.
              We will always disclose when a particular Primary Offer
              third-party offer is sponsored or when a third party compensates
              Primary Offer in connection with the sponsored offer.
            </p>
          </li>

          <li class="mt-4">
            <div>
              <strong>Ownership, Copyright, and Trademark</strong>
            </div>
            <p>
              The technology and content used to offer, or provided in
              connection with the Services, including but not limited to our
              Platform, browser software plug-in, smart phone software and
              tablet software, are either owned by us or licensed by us from
              third-party licensors. Such content includes the look and feel of
              our Platform, all our promotional materials, and in general
              include all text, graphics, photographs, illustrations, images,
              videos, tutorials, notices, software and other content, which is
              protected by the trademark, patent and intellectual property laws
              of the Federal Republic of Nigeria.
            </p>
          </li>
          <li class="mt-4">
            <div>
              <strong
                >Disclaimer of Representation and Warranty; Disclaimer of
                Liability</strong
              >
            </div>
            <ol type="A">
              <li>
                <p>
                  PRIMARY OFFER, ITS LICENSORS, REPRESENTATIVES AND
                  AGENTS DO NOT REPRESENT OR IMPLY ANY PERFORMANCE LEVEL,
                  RESULTS OR GUARANTEES IN RELATION TO THE OPERATION OF THE
                  SERVICE AND PRIMARY OFFER DOES NOT MAKE ANY CLAIM THAT
                  THE USE OF THE SERVICE WILL RESULT IN A PARTICULAR PROFIT OR
                  PREVENT ANY LOSS FOR A USER.
                </p>
              </li>
              <li>
                <p>
                  WITH RESPECT TO SECURITES, PRIMARY OFFER DOES NOT
                  REPRESENT OR WARRANT THAT THE NUMBER OF UNITS OR SHARES
                  APPLIED FOR WOULD BE ALLOTED, AS THE ISSUING HOUSE HAS AN
                  ABSOLUTE DISCRETION TO ALLOT THE SAME OR ANY SMALLER NUMBER OF
                  SHARES.
                </p>
              </li>
              <li>
                <p>
                  PRIMARY OFFER DISCLAIMS LIABILITY AND RESPONSIBILITY
                  FOR TYPOGRAPHICAL ERRORS OR INACCURACY OR INCOMPLETE
                  INFORMATION INPUTTED BY USERS OR THEIR AGENT. THE
                  RESPONSIBILITY FOR INPUTTING THE CORRECT INFROMATION LIES WITH
                  THE USER.
                </p>
              </li>
              <li>
                <p>
                  NOTWITHSTANDING ANYTHING STATED IN THIS AGREEMENT TO THE
                  CONTRARY, PRIMARY OFFER, LICENSORS AND AGENTS REPRESENT
                  THAT THE SERVICES AND THE PLATFORM ARE PROVIDED “AS IS” AND
                  “AS AVAILABLE” WITHOUT WARRANTY OF ANY KIND. PRIMARY OFFER
                  , ITS LICENSORS AND AGENTS ASSUME NO RESPONSIBILITY FOR
                  ERRORS OR OMISSIONS MADE BY YOU, OR ERRORS OR OMISSIONS IN THE
                  CONTENT, INFORMATION OR OTHER DATA AND DOCUMENTS, WHICH ARE
                  REFERENCED BY, LINKED TO OR PROVIDED BY OR THROUGH THE
                  SERVICES AND/OR THE PLATFORM. PRIMARY OFFER, ITS
                  LICENSORS AND AGENTS EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY
                  KIND REGARDING THE SERVICES AND ALL INFORMATION, PRODUCTS AND
                  OTHER CONTENT INCLUDED IN OR ACCESSIBLE FROM THE SERVICES,
                  WHETHER EXPRESS OR IMPLIED. WITHOUT LIMITATION, PRIMARY OFFER
                   DISCLAIMS THE IMPLIED WARRANTIES OF MERCHANTABILITY,
                  FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. YOUR
                  USE OF THE SERVICES AND ALL INFORMATION, PRODUCTS AND OTHER
                  CONTENT (INCLUDING THAT OF THIRD PARTIES) INCLUDED IN OR
                  ACCESSIBLE FROM OUR SITE IS AT YOUR SOLE RISK.
                </p>
              </li>
              <li>
                <p>
                  PRIMARY OFFER, IT’S LICENSORS AND AGENTS DO NOT
                  GUARANTEE THE ACCURACY OR COMPLETENESS OF ANY INFORMATION OR
                  ANALYSIS ON THIS SERVICE. ACCORDINGLY, PRIMARY OFFER
                  WILL NOT BE LIABLE FOR THE ACCURACY OR RELIABILITY OF ANY
                  DATA, INFORMATION OR CONTENT, FOR ANY SERVICES INTERRUPTIONS,
                  OR FOR ANY FAILURE OR DELAY RESULTING FROM ANY ACTS OF FORCE
                  MAJEURE OR ACTS THAT ARE OTHERWISE OUTSIDE OF PRIMARY OFFER
                   OR ITS LICENSORS’ OR AGENTS’ REASONABLE CONTROL, OR
                  ANY INTERNET OR TELECOMMUNICATIONS FAILURE OR YOUR INABILITY
                  TO ACCESS THE SERVICES OR THE WEBSITE. NOR CAN PRIMARY OFFER
                  OR ITS AFFILIATES, LICENSORS OR AGENTS GUARANTEE THE
                  COMPLETE SECURITY OF THE SERVICES OR THE WEBSITE, THAT THE
                  QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER
                  MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICES
                  WILL MEET YOUR EXPECTATIONS OR THAT ANY ERRORS IN THE
                  TECHNOLOGY WILL BE CORRECTED.
                </p>
              </li>
              <li>
                <p>
                  PRIMARY OFFER HAS NO CONTROL OVER THE AVAILABILITY OF
                  LINKED PAGES AND ACCEPT NO RESPONSIBILITY FOR THEM.
                </p>
              </li>
              <li>
                <p>
                  YOU AGREE THAT ANY DOWNLOADS OF CONTENT OR MATERIALS RELATED
                  TO THE SERVICES OR THE PLATFORM IS DONE AT YOUR OWN RISK AND
                  YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR
                  COMPUTER/SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD
                  OF OR ACCESS TO ANY SUCH MATERIALS. IN ADDITION, WE CANNOT
                  ALWAYS ANTICIPATE TECHNICAL OR OTHER DIFFICULTIES WITH THE
                  SERVICES, EITHER PRESENTLY OR AS THEY EVOLVE; THE SERVICES MAY
                  CONTAIN BUGS, ERRORS OR OTHER PROBLEMS, WHICH MAY RESULT IN
                  LOSS OF DATA OR SETTINGS. IT IS THE SOLE RESPONSIBILITY OF THE
                  USER TO ISOLATE SOFTWARE AND INFORMATION, EXECUTE
                  ANTI-CONTAMINATION SOFTWARE, AND OTHERWISE TAKE STEPS SO THAT
                  SOFTWARE OR INFORMATION, IF CONTAMINATED OR INFECTED, WILL NOT
                  DAMAGE USER'S INFORMATION OR SYSTEM.
                </p>
              </li>
              <li>
                <p>
                  SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN
                  WARRANTIES; ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY NOT
                  APPLY TO YOU. NEITHER PRIMARY OFFER SHALL BE
                  RESPONSIBLE FOR INVESTMENT AND OTHER FINANCIAL DECISIONS,
                  DAMAGES, OR OTHER LOSSES RESULTING FROM USE OF THIS PLATFORM.
                </p>
              </li>
            </ol>
          </li>
          <li class="mt-4">
            <div>
              <strong>Limitation of Liability</strong>
            </div>
            <ol type="A">
              <li>
                <p>
                  PRIMARY OFFER, ITS LICENSORS AND AGENTS SHALL NOT IN
                  ANY EVENT BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR
                  CONSEQUENTIAL DAMAGES OF ANY KIND, OR FOR DAMAGES MEASURED BY
                  LOST PROFITS, OR FOR DAMAGES FOR LOST OPPORTUNITY, LOSS OF
                  GOODWILL, LOSS OF USE, LOSS OF DATA OR OTHER INTANGIBLE OR
                  SPECULATIVE LOSSES, EVEN IF PRIMARY OFFER HAS BEEN
                  ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, ARISING, IN ANY
                  WAY, OUT OF THE AVAILABILITY, USE, RELIANCE ON, OR INABILITY
                  TO UTILIZE THIS SERVICE OR THE PLATFORM; THE COST OF
                  SUBSTITUTE GOODS OR SERVICES; ANY PRODUCTS, DATA, INFORMATION
                  OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR
                  TRANSACTIONS ENTERED INTO, THROUGH OR FROM THE SERVICES;
                  UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR
                  DATA, STATEMENTS OR CONDUCT OF ANYONE RELATED TO THE SERVICES;
                  THE PERFORMANCE OR NON-PERFORMANCE OF ANY THIRD PARTY ACCOUNT
                  PROVIDER SITE, EVEN IF THE PROVIDER HAS BEEN PREVIOUSLY
                  ADVISED OF THE POSSIBILITY OF SUCH DAMAGES; OR ANY PROVIDER OR
                  THIRD PARTY WEBSITE, OR ANY OTHER MATTER RELATING TO THE
                  SERVICES OR THE PLATFORM. BECAUSE SOME JURISDICTIONS DO NOT
                  ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR
                  CONSEQUENTIAL DAMAGES, THE ABOVE EXCLUSIONS OF INCIDENTAL AND
                  CONSEQUENTIAL DAMAGES MAY NOT APPLY TO YOU, BUT SHALL APPLY,
                  IN ANY EVENT, TO THE MAXIMUM EXTENT POSSIBLE.
                </p>
              </li>
              <li>
                <p>
                  THE SERVICES MAY BE AVAILABLE THROUGH A COMPATIBLE MOBILE
                  DEVICE, INTERNET AND/OR NETWORK ACCESS AND MAY REQUIRE
                  SOFTWARE. YOU AGREE THAT YOU ARE SOLELY RESPONSIBLE FOR THESE
                  REQUIREMENTS, INCLUDING ANY APPLICABLE CHANGES, UPDATES AND
                  FEES AS WELL AS THE TERMS OF YOUR AGREEMENT WITH YOUR MOBILE
                  DEVICE AND TELECOMMUNICATIONS PROVIDER. PRIMARY OFFER
                  MAKES NO WARRANTIES OR REPRESENTATIONS OF ANY KIND, EXPRESS,
                  STATUTORY OR IMPLIED AS TO: (i) THE AVAILABILITY OF
                  TELECOMMUNICATION SERVICES FROM YOUR PROVIDER AND ACCESS TO
                  THE SERVICES AT ANY TIME OR FROM ANY LOCATION; (ii) ANY LOSS,
                  DAMAGE, OR OTHER SECURITY INTRUSION OF THE TELECOMMUNICATION
                  SERVICES; AND (iii) ANY DISCLOSURE OF INFORMATION TO THIRD
                  PARTIES OR FAILURE TO TRANSMIT ANY DATA, COMMUNICATIONS OR
                  SETTINGS CONNECTED WITH THE SERVICES.
                </p>
              </li>
            </ol>
          </li>
          <li class="mt-4">
            <div><strong>Allocation of Risk</strong></div>
            <p>
              In addition to the limitations on liability contained elsewhere in
              these Terms and Conditions, you will not hold Primary Offer
               , its Affiliates, their respective partners, officers,
              employees, agents, licensors, distributors, and suppliers and/or
              Information Providers liable in any way for (a) any inaccuracy of,
              error or delay in, or omission of the Content, or (b) any loss or
              damage arising from or occasioned by i) any error or delay in the
              transmission of such Content, ii) interruption in any such Content
              due either to any negligent act or omission by any party to any
              “force majeure” (e.g., flood, extraordinary weather conditions,
              earthquake or other act of God, fire, war, insurrection, riot,
              labor dispute, accident, action of government, communications or
              power failure, equipment or software malfunction), or iii) to any
              other cause beyond the reasonable control of Primary Offer,
              its affiliates, their respective partners, officers, employees
              agents, licensors, distributors, and suppliers and/or Service and
              Information Provider, or iv) non-performance of any kind.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Indemnification</strong></div>
            <p>
              You agree to indemnify, defend and hold us and any of our
              affiliates, licensors and agents, and all of their officers,
              directors, employees, agents, information providers and licensors
              harmless from and against any and all third-party claims, damages,
              liability and costs (including attorneys’ fees and costs) incurred
              by any of these parties that arise out of or are caused by: (i)
              your use of our Services and/or our Platform, (ii) your violation
              of this Agreement, (iii) your infringement of any intellectual
              property rights, (iv) access and/or use of, or interaction with
              the Service and/or Content (including, without limitation, the
              forums); or (v) any act, error, or omission of your use of an
              account or any user of your account. In the event that there are
              third party claims against you for which you properly seek damages
              from us under this Agreement, or we are subject to any claim for
              which we have the right to be indemnified by you, we reserve the
              right at our expense in the case of claims by third parties
              against you, and at your expense in the case of claims for which
              we have the right to be indemnified by you, to assume the
              exclusive defense and control of any such claim, and you agree
              that in any event no such claim can be settled without our written
              consent.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Consent</strong></div>
            <p>
              By accepting this terms of use agreement, you consent to receiving
              relevant marketing information from Primary Offer, its
              related companies and selected partners and participating in
              market research about our products and services. We may contact
              you via various means including email, phone (e.g. SMS and MMS)
              and via data based messaging services. We may sometimes use other
              means such as websites, mobile apps, post or automated calls.
            </p>
            <p>
              We may share your data with companies in our group, and selected
              partners with whom we work closely, so that they can send you
              relevant offers which might interest you. This could include
              partners in financial services, telecommunications, Information
              technology or other related sectors.
            </p>
            <p>
              We may analyse your personal preferences, interests or behaviour
              so that we can send you customised communication that we think you
              might like.
            </p>
          </li>
          <li class="mt-4">
            <div>
              <strong
                >Ending Your Relationship with Primary Offer</strong
              >
            </div>
            <p>
              This Agreement will continue to apply until terminated by either
              you or us as set out below. If you want to terminate your legal
              agreement with us, you may do so by closing your Account.
            </p>
            <p>Please use the directions below to close your Account:</p>
            <p>
              Email info@primaryofferng.com from the email address associated
              with your Account, indicating “<strong
                >REQUEST TO CLOSE ACCOUNT</strong
              >” in the <u>subject line of the message</u>. After confirming you
              are the Account owner we will proceed to close the account. We
              will however continue to retain such information as we are
              required by law to retain.
            </p>
            <p>
              We reserve the right to terminate our Agreement with you (by
              providing an email notice of such termination): (i) if you have
              breached any provision of this Agreement (or have acted in a
              manner which clearly shows that you do not intend to, or are
              unable to comply with the provisions of this Agreement); (ii) if
              we believe we are required to do so by law (for example, where the
              provision of the Services to you is, or becomes, unlawful); (iii)
              if we no longer offer any of the Services you utilize; (iv) if you
              no longer agree to the terms and conditions of this Agreement; or
              (v) for any other reason or no reason, in our sole and absolute
              discretion. The termination of this Agreement will not affect any
              of our rights or your obligations arising under this Agreement
              prior to termination.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Governing Laws</strong></div>
            <p>
              This Agreement, and any Services provided hereunder, will be
              governed exclusively by the laws of the Federal Republic of
              Nigeria.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Arbitration</strong></div>
            <p>
              We shall make an effort to settle all disputes amicably. Any
              dispute arising out of this terms and conditions, which cannot be
              settled, by mutual agreement/negotiation within one (1) month
              shall be settled by the Arbitration and Mediation Act 2023. The
              arbitration shall be conducted by a single arbitrator jointly
              appointed by both of us (we and you), where both of us are unable
              to agree on the choice of an arbitrator, the arbitrator shall be
              appointed by the Chairman (for the time being) of the Chartered
              Institute of Arbitrators UK (Nigeria Branch). The findings of the
              arbitrator and subsequent award shall be binding on both of us.
              Each of us shall bear our respective costs in connection with the
              Arbitration. Venue for the arbitration shall be Lagos, Nigeria.
            </p>
          </li>
          <li class="mt-4">
            <div>
              <strong>Claims of Copyright and Trademark Infringement</strong>
            </div>
            <p>
              If you believe that your intellectual property is being used on
              the website or the Platform in a way that constitutes copyright
              infringement, please provide us with the following information:
            </p>
            <ul type="radio">
              <li>
                Identification of the copyrighted work claimed to have been
                infringed, or, if multiple copyrighted works at a single online
                site are covered by a single notification, a representative list
                of such works at that site;
              </li>
              <li>
                Identification of the material that is claimed to be infringing
                or to be the subject of infringing activity and that is to be
                removed or access to which is to be disabled, and information
                reasonably sufficient to permit Primary to locate the material
                on our website or the Platform;
              </li>
              <li>
                Information reasonably sufficient to permit us to contact you,
                such as an address, telephone number, and, if available, an
                electronic mail address, if different from your registered
                profile with Primary Offer;
              </li>
              <li>
                A statement that you have a good faith belief that use of the
                material in the manner complained of is not authorized by you,
                your agent, or the law; and
              </li>
              <li>
                A statement that the information in the notification is
                accurate, and under penalty of perjury, that you are authorized
                to act on behalf of the owner of an exclusive right that is
                allegedly infringed.
              </li>
            </ul>
            <p class="mt-4">
              The information specified above must be sent to the contact
              information as follows:
            </p>
            <p>
              Attention: The Managing Director <br />

              10, Bankole Oki Street Ikoyi<br />

              Lagos
            </p>
            <p>Email us at info@primaryofferng.com</p>
          </li>
          <li class="mt-4">
            <div><strong>Change of Terms</strong></div>
            <p>
              We may revise this Agreement at any time, and therefore we suggest
              that you check this Agreement from time to time. We may notify you
              of any changes at the e-mail address associated with your Account
              and you agree to accept email communications, links to and/or our
              posting of any revised Agreement on our Platform, and you agree
              that any of these means of our communicating a change in the
              Agreement constitutes adequate notice to you. Your continued
              access or use of the Platform or any of the Services indicates
              your agreement to be bound by any such revisions.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Not a Legal or Tax Advisor</strong></div>
            <p>
              We make managing your personal finances convenient and as
              streamlined as possible. However, neither we nor our Services
              give, offer or render tax or legal advice. Before making financial
              or investment decisions, we recommend that you contact an
              investment advisor, or tax or legal professional. Primary Offer
               , and its related companies, separately offer and provide
              investment advice.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Waiver and Severability</strong></div>
            <p>
              We do not waive our rights by delaying or failing to exercise them
              at any time. If any provision of this Agreement shall be
              determined to be invalid or unenforceable under any rule, law, or
              regulation of any governmental agency, local, state, or Federal,
              the validity or enforceability of any other provision of this
              Agreement shall not be affected.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Section Headings</strong></div>
            <p>
              Section headings in this Agreement are for convenience of
              reference only, and shall not govern the interpretation of any
              provision of this Agreement.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>English Language Controls</strong></div>
            <p>
              Any translation of this Agreement is provided for your
              convenience. The meanings of terms, conditions and representations
              herein are subject to definitions and interpretations in the
              English language. Any translation provided may not accurately
              represent the information in the original English.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>Entire Agreement</strong></div>
            <p>
              The Agreement, including the separate <a class="a-link" routerLink="/auth/privacy-policy">Privacy Policy</a> and any other
              documents referred to herein, represents the entire understanding
              between both you and us regarding the Services (as defined herein)
              and the subject matter hereof and supersedes any prior statements
              or representations. In the event of a conflict between the terms
              of this Agreement and the terms of an exhibit, amendment,
              schedule, addendum or disclosure, the terms of the exhibit,
              amendment, schedule, addendum or disclosure shall prevail but,
              solely as to the subject matter herein.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
