<div class="d-flex justify-content-end me-4 mt-3">
  <button class="close-button" [mat-dialog-close]="false">
    <i class="ri-close-line"></i>
  </button>
</div>
<div mat-dialog-content class="gateway-wrapper mt-3">
  <mat-stepper
    [linear]="container['linear']"
    #stepper
    (selectionChange)="selectionChange($event)"
  >
    <mat-step>
      <div>
        <div class="col-sm-12">
          <h1
            class="mt-1 mb-0 d-flex justify-content-center text-center"
            style="color: var(--secondary); font-size: 20px; font-weight: 500"
          >
            Are you a New or Existing Investor?
          </h1>
          <!-- <small class="text-muted">We need you to add your extra information to further secure your account</small> -->
        </div>
      </div>
      <div mat-dialog-content class="mt-4">
        <form [formGroup]="firstFormGroup">
          <div>
            <div class="form-group mt-3">
              <mat-radio-group
                formControlName="select"
                name="radioButtons"
                (change)="onRadioButtonChangeForInvestor($event)"
              >
                <mat-radio-button id="radio_1" value="new"
                  >New Investor</mat-radio-button
                >
                <mat-radio-button id="radio_2" value="existing"
                  >Existing Investor</mat-radio-button
                >
              </mat-radio-group>
            </div>
          </div>
        </form>
      </div>
      <div class="text-center stepper-actions pt-4 px-2">
        <button class="submit" (click)="proceed(stepper)">Continue</button>
      </div>
    </mat-step>

    <mat-step >
      <h3 class="mb-0 text-center">Enter your CHN or CSCS</h3>
      <p class="mb-0 text-center chn-text mx-4 mt-2">
        Please enter your Clearing House Number (CHN) or Central Securities Clearing System (CSCS) to check your eligibility.
      </p>
      <div mat-dialog-content>
        <form [formGroup]="validateForm">
          <div>
            <div class="form-group mt-3">
              <mat-radio-group
                formControlName="validateSelect"
                name="radioButtons2"
                (change)="onRadioButtonChange($event)"
              >
                <mat-radio-button id="radio_3" value="chn"
                  >Clearing House Number (CHN)</mat-radio-button
                >
                <mat-radio-button id="radio_4" value="cscs"
                  >Central Securities Clearing System (CSCS)</mat-radio-button
                >
              </mat-radio-group>
            </div>

            <div class="form-group mt-3">
              <div class="gateway-label d-flex justify-content-between">
                <label>
                  <div>
                    {{ selectionCheck === "chn" ? "CHN" : "CSCS"
                    }}<span class="text-danger">*</span>
                  </div>
                </label>
              </div>
              <div class="input mt-1">
                <mat-form-field appearance="outline" class="col-md-12 w-100">
                  <input
                    matInput
                    formControlName="chn"
                    name="chn"
                    type="text"
                    class=""
                    placeholder="Enter {{
                      selectionCheck === 'chn' ? 'CHN' : 'CSCS'
                    }} Number"
                    autocomplete="off"
                    (keyup)="controlChanged(validateForm, 'chn')"
                  />
                </mat-form-field>
                <div class="error-wrapper">
                  <span *ngIf="uiErrors.chn">{{ uiErrors.chn }}</span>
                </div>
                <!-- <mat-spinner
                  *ngIf="container['loadingBankName']"
                  [diameter]="30"
                ></mat-spinner> -->
              </div>
            </div>
          </div>

          <div class="text-center stepper-actions pt-4 mt-2 mb-2">
            <button
              class="submit"
              type="submit"
              (click)="onSubmit()"
              [disabled]="container['loading']"
            >
              <span *ngIf="!container['loading']">Check Eligibility</span>
              <mat-spinner
                *ngIf="container['loading']"
                [diameter]="30"
              ></mat-spinner>
            </button>
          </div>
        </form>
      </div>
    </mat-step>
  </mat-stepper>
</div>
