cdk-virtual-scroll-viewport {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 400px;

  .spinner-item {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
