<div class="container">
  <div class="d-flex justify-content-between align-items-center mt-5">
    <div class="">
      <in-backbutton></in-backbutton>
      <div class="auth-image-wrapper d-flex justify-content-center">
        <img src="/assets/logo/new-logo.png" width="200px" alt="Primary Logo" />
      </div>
    </div>
    <div class="time-wrapper">
      <p class="p-0 m-0">Last updated: 10 July 2024</p>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="terms-wrapper col-md-12">
      <div class="title text-center">
        <h2>PRIVACY POLICY</h2>
      </div>
      <div class="terms-body mt-5">
        <ol type="1">
          <li>
            <div><strong>INTRODUCTION</strong></div>
            <p>
              <strong
                >At Primary Offer by Chapel Hill Denham (“Primary Offer”), we
                take your privacy seriously.</strong
              >
              We understand you want control over your personal information, and
              we're dedicated to protecting your data and privacy.
            </p>
            <p>
              This Privacy Policy explains how we collect, store, and use your
              personal information. It also outlines your rights and choices. By
              reading this policy, you'll be able to make informed decisions
              about sharing your personal information with us.
            </p>
            <p>
              <strong>
                We strive for the highest standards of trust and
                transparency.</strong
              >
              This includes protecting the data of our Clients and online
              visitors (“’user/users”) while using our mobile applications,
              websites and our other online services (collectively, the
              “Platform”).
            </p>
            <p>
              <strong
                >Before accessing our website, receiving emails, and/or using
                our mobile applications, please read and accept the terms of
                this Policy.</strong
              >
            </p>
          </li>
          <li class="mt-4">
            <div><strong>PERSONAL INFORMATION</strong></div>
            <p>
              Personal information are details that identifies an individual
              such as names, addresses, email addresses, phone numbers and any
              other unique identifiable information (“Personal Information”).
            </p>
            <p>
              We limit the collection and use of non-public personal information
              to the minimum we believe is necessary to deliver superior service
              to you.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>WHAT WE COLLECT</strong></div>
            <div>
              We obtain mostly non-public personal information directly from you
              or your agents whether in person, by telephone or electronically.
              This information may include without limitation:
            </div>
            <ul type="radio">
              <li>First name, last name and title;</li>
              <li>
                Contact information including home address, email address,
                business address, home telephone numbers and business telephone
                numbers;
              </li>
              <li>
                Banking information, including your Bank Verification Number
                (“BVN”);
              </li>
              <li>
                Non-personal identification information such as browser name,
                type of computer and technical information about your means of
                connection to our site, such as the operating system and the
                internet service providers utilized; and
              </li>
              <li>
                Other information relevant to customer surveys and/or offers.
              </li>
            </ul>
          </li>

          <li class="mt-4">
            <div><strong>WHY WE COLLECT YOUR PERSONAL INFORMATION</strong></div>
            <div>
              All personal data that we collect and process is justified by
              lawful processing on the following legitimate bases:
            </div>
            <ul type="radio">
              <li>You have provided consent for the processing</li>
              <li>
                The processing is necessary for the performance of a contract to
                which you are a party or in order to take steps at your request
                prior to entering into a contract.
              </li>
              <li>
                The processing is necessary to comply with our legal and
                regulatory obligations.
              </li>
              <li>
                The processing is necessary to protect your vital interests or
                those of another natural person.
              </li>
              <li>
                The processing is necessary for the performance of a task
                carried out in the public interest.
              </li>
            </ul>
          </li>

          <li class="mt-4">
            <div><strong>HOW WE COLLECT YOUR PERSONAL INFORMATION</strong></div>
            <div>
              We collect information about you and any other party whose details
              you provide to us when you:
            </div>
            <ul type="radio">
              <li>Complete online forms.</li>
              <li>Participate in surveys.</li>
              <li>Interact with us through our social media platforms.</li>
              <li>
                Download information, such as publications, or engage in any
                other interactive areas on our websites or portals.
              </li>
              <li>
                Contact us offline via telephone, SMS, email, post, or any other
                communication means.
              </li>
              <li>
                Access and use our websites, portals, or applications from your
                devices, including mobile devices.
              </li>
              <li>
                Share personal data with third parties authorized to share that
                data, as permitted by applicable laws.
              </li>
            </ul>
          </li>

          <li class="mt-4">
            <div><strong>DISCLOSURE OF PERSONAL INFORMATION</strong></div>
            <p>
              We do not disclose any Personal Information about our investors,
              former investors or stakeholders to anyone, except when we believe
              it is necessary for fulfillment of our obligations to the
              investor, stakeholder or under an agreement with the Investor, or
              with the consent of the investor, or where disclosure is required
              by law. Except otherwise indicated herein, we will not make any
              disclosures of non-public personal information to other third
              parties who may want to sell their products or services to you.
            </p>
          </li>

          <li class="mt-4">
            <div>
              <strong>WHAT WE DO WITH THE INFORMATION WE COLLECT</strong>
            </div>
            <div>
              We require this information to understand your needs which will
              enable us to provide you with better products as well as smart
              service solutions. Other operational reasons:
            </div>
            <ul type="radio">
              <li>Internal record keeping;</li>
              <li>To improve our products and services;</li>
              <li>To improve our service delivery;</li>
              <li>To contact you occasionally for market research purposes;</li>
              <li>
                To send emails about new investment opportunities or other
                information which we believe would be of importance to you; and
              </li>
              <li>
                To improve our site through feedback you provide on products and
                services.
              </li>
            </ul>
          </li>

          <li class="mt-4">
            <div><strong>COOKIE</strong></div>
            <p>
              We utilize cookies to improve your user experience on our
              websites. Cookies are messages that web servers pass to your web
              browser when you visit internet sites and typically contain
              information about your visit to a specific web page, track website
              activities, as well as any information you have volunteered, such
              as name and interests. This is to ensure that you do not have to
              re-enter this information each time you visit the site.
            </p>
            <p>
              You can however choose to accept or decline cookies. Most web
              browsers automatically accept cookies, but you can modify your
              browser setting to decline cookies if you prefer. However, this
              may prevent you from taking full advantage of the website.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>LINKS TO OTHER WEBSITES</strong></div>
            <p>
              Our Site may contain links to other websites of interest. However,
              Primary Offer shall NOT be responsible for the protection and
              privacy of any information which you provide whilst visiting such
              websites; such websites are not governed by this policy. You
              should exercise caution and review the privacy statement(s)
              applicable to that websites.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>SECURITY OF PERSONAL INFORMATION</strong></div>
            <p>
              Your Personal Information is stored in a manner that reasonably
              protects it from misuse, loss, unauthorized access and/or
              modification
            </p>
            <p>
              When your Personal Information is no longer needed for the purpose
              for which it was obtained, we will take reasonable steps to
              destroy or permanently de-identify your Personal Information.
              However, most of the Personal
            </p>
            <p>
              Information is or will be stored in client files, which will be
              kept by us for a minimum of seven (7) years.
            </p>
          </li>
          <li class="mt-4">
            <div><strong>ACCESS TO PERSONAL INFORMATION</strong></div>
            <p>
              You may access your Personal Information in order to update and/
              or correct the details, subject to certain exceptions. If you wish
              to access your personal information, please contact us in writing.
            </p>
            <p>
              To protect your personal identification, we will require some form
              of identification from you before releasing the requested
              information.
            </p>
          </li>
          <li class="mt-4">
            <div>
              <strong>MAINTAINING THE QUALITY OF YOUR INFORMATION</strong>
            </div>
            <p>
              It is important to us that your Personal Information is updated
              regularly. We will take reasonable steps to make sure that your
              Personal Information is accurate, complete and up-to-date. If you
              find that the information we have is not up to date or is
              inaccurate, please inform us as soon as practicable so we can
              update our records and ensure we can continue to provide quality
              services to you.
            </p>
            <p>
              This policy may change from time to time, to reflect changes in
              our practices and/or applicable law and regulation. If you have
              any queries or seek to withdraw your consent, please contact us at
              visa the information below and we shall respond accordingly:
            </p>
          </li>

          <li class="mt-4">
            <div>
              <strong>COMPLIANCE WITH REGULATION</strong>
            </div>
            <p>
              This Privacy Policy complies with the Nigerian Data Protection Act
              2023 (NDPA) and its associated regulations, including the Nigerian
              Data Protection Regulations 2019 (NDPR) and its Implementation
              Framework, as well as any industry-specific regulations or
              guidelines related to data protection ("Applicable Law"). It
              outlines the requirements for firms to collect, handle, and store
              personal data, regardless of whether the data is stored
              electronically, on paper, or other formats.
            </p>
            <p class="mt-3">
              Primary Offer<br />
              10, Bankole Oki Road<br />
              Ikoyi, Lagos <br />
              Nigeria
            </p>
            <p>Email us at info@primaryofferng.com</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
