<div class="container-fluid px-1 px-sm-1 px-md-4 px-lg-4 mb-5" *ngIf="!container['assetsLoading']">
  <div class="col-md-12 mt-5">
    <in-backbutton></in-backbutton>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <div class="col-md-10 col-12 col-sm-12 col-lg-10">
      <div class="offers-detail-wrapper">
        <div
          class="d-flex flex-column flex-md-row flex-lg-row align-items-center"
        >
          <div class="flex-grow-1 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="">
                <div class="image-wrapper">
                  <img
                  src="{{rightLogo ? rightLogo : '/assets/logo/po_logo.png'}}"
                  alt="Offer Image"
                  height="40"
                  width="40"
                  class="rounded-circle" />
                </div>
              </div>
              <div class="title d-flex align-items-start flex-column ml-4">
                <div class="text-uppercase px-4 px-md-4 px-lg-4 mb-0">
                  <h3>{{asset?.name}}</h3>
                </div>
                <div class="offers-subtitle px-4 px-md-4 px-lg-4">
                  <span>{{asset?.subTitle}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col">
              <button
                class="action-btn text-nowrap"
                (click)="openSnackBar('Prospetus downloaded successfully')"
              >
                Download info <i class="ri-download-line"></i>
              </button>
            </div> -->
            <div class="col">
              <button
                [disabled]="!asset?.openForPurchase || container['userLoading']"
                class="submit-btn text-nowrap"
                (click)="checkEligibility()"
              >
              <span *ngIf="!container['userLoading']">
              {{asset?.openForPurchase ?  'Buy offer' : 'Closed' }}
              </span>
              <span *ngIf="container['userLoading']">Please wait...</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5">

    <div class="col-md-10 col-12 col-sm-12 col-lg-10">
      <div>
        <div
          class="d-flex flex-column flex-md-row flex-lg-row align-items-center"
        >

          <div class="flex-grow-1 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
            <div class="d-flex align-items-center">
              <div
                class="offers-detail d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
              >
                <div class="key"><span>Unit price</span></div>
                <div class="value text-uppercase mb-0">
                  <h3>{{asset?.sharePrice | number}}<span>{{asset?.currency}}</span></h3>
                  <!-- <h3>{{asset.sharePrice}} <span>{{asset.currency}}</span></h3> -->
                </div>
              </div>
            </div>
          </div>
          <div class="flex-grow-1 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
            <div class="d-flex align-items-center">
              <div
                class="offers-detail d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
              >
              <div class="key"><span>Start Date</span></div>
              <div class="value text-uppercase mb-0">
                <h3>
                  {{ asset?.openingDate | date }}
                </h3>
              </div>
              </div>
            </div>
          </div>
          <div class="flex-grow-2 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
            <div class="d-flex align-items-center">
              <div
                class="offers-detail d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
              >
              <div class="key"><span>End Date</span></div>
              <div class="value text-uppercase mb-0">
                <h3>
                  {{ asset?.closingDate | date }}
                </h3>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4" *ngIf="assetBanner[0]?.response">
    <!-- <div class="background mx-3">

  </div> -->
    <div class="col-md-10 col-12 col-sm-12 col-lg-10">
      <img
        src="{{assetBanner[0]?.response}}"
        alt="Offer Image"
        class="img rounded"
      />
    </div>
    <!-- <div
    class="d-flex justify-content-between align-items-center offers-detail-wrapper bonus-issue col-md-10 col-12 col-sm-12 col-lg-10"
  >
    <div class="col col-md-7">

      <h5>About this offer</h5>
      <span [innerHTML]="right?.description"> </span>
      <h6>
        Get {{ right?.youGet }} new offer share for every
        {{ right?.forEvery }} existing shares held. Offer valid until
        {{ right?.endDate | date }}.
      </h6>
    </div>
    <div class="col col-md-4">
      <!-- <a
        target="_blank"
        href="/assets/pdf/Shelf.pdf"
        class="action-btn text-nowrap"
      >
        Download offer documents
      </a>
    </div>
  </div> -->
  </div>

  <div class="wrap d-flex w-100 justify-content-center flex-column flex-sm-column flex-md-row flex-lg-row mt-4">
    <a class="download-doc" href="{{asset?.extRef?.ngx?.pricingSupplement}}" download="Pricing Supplement" target="_blank">
      <div>
        <div class="d-flex align-items-center">
          <div class="pdf"><span>PDF</span></div>
          <div class="text mx-3"><span>Pricing Supplement</span></div>
        </div>
      </div>
      <div><i class="ri-download-2-line"></i></div>
    </a>
    <a class="download-doc mx-sm-0 mx-0 mx-lg-2 mx-md-2 mx-lg-2 my-sm-2 my-2 my-md-0 my-lg-0" href="{{asset?.extRef?.ngx?.prospectus}}" download="Prospectus.pdf" target="_blank">
      <div>
        <div class="d-flex align-items-center">
          <div class="pdf"><span>PDF</span></div>
          <div class="text mx-3"><span>Prospectus</span></div>
        </div>
      </div>
      <div><i class="ri-download-2-line"></i></div>
    </a>

    <a class="download-doc" href="{{asset?.extRef?.ngx?.termSheet}}" download="Term Sheet.pdf" target="_blank">
      <div>
        <div class="d-flex align-items-center">
          <div class="pdf"><span>PDF</span></div>
          <div class="text mx-3"><span>Term Sheet</span></div>
        </div>
      </div>
      <div><i class="ri-download-2-line"></i></div>
    </a>
    <!-- <a href="#" class="btn-slide">
    <span class="circle2"><i class="fa fa-rocket"></i></span>
    <span class="title2">Demo</span>
    <span class="title-hover2">Click here</span>
  </a> -->
    <!-- <a href="{{doc?.response?.url}}" target="_blank" class="btn-slide" *ngFor="let doc of rightDocument">
    <span class="circle"><i class="ri-download-2-line"></i></span>
    <span class="title">{{doc?.name}}</span>
    <span class="title-hover">Download</span>
  </a> -->
  </div>

  <div class="d-flex justify-content-center mt-5">
    <div class="col-md-10 col-12 col-sm-12 col-lg-10">
      <div class="about-offer-wrapper">
        <div class="title about-offer-header">
          <h6>About this Offer</h6>
        </div>
        <div class="about-offer-content">
          <span [innerHTML]="asset?.description">
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="d-flex justify-content-center mt-5">
    <div class="col-md-10 col-12 col-sm-12 col-lg-10">
      <div class="about-offer-wrapper">
        <div class="title about-offer-header">
          <h6>Performance</h6>
        </div>
        <div class="about-offer-content">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            con Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatu.
          </span>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="d-flex justify-content-end filter-year-wrapper mt-5">
      <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class="btn btn-secondary dropdown-toggle graph-btn"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Year: 2023
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#">2023</a>
          <a class="dropdown-item" href="#">2022</a>
        </div>
      </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-10 col-12 col-sm-12 col-lg-10">
      <div class="about-offer-graph-wrapper">
        <div id="chart">
          <apx-chart
            *ngIf="chartOptions"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [yaxis]="chartOptions.yaxis"
            [legend]="chartOptions.legend"
            [fill]="chartOptions.fill"
            [stroke]="chartOptions.stroke"
            [tooltip]="chartOptions.tooltip"
            [xaxis]="chartOptions.xaxis"
            [grid]="chartOptions.grid"
            [colors]="chartOptions.colors"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div> -->
  <div class="d-flex justify-content-center">
    <div class="col-md-10 col-12 col-sm-12 col-lg-10">
      <app-offer-transactions></app-offer-transactions>
    </div>
  </div>
</div>


<div *ngIf="container['assetsLoading']">
  <app-loader></app-loader>
</div>
