<div mat-dialog-title class="">
  <div class="d-flex justify-content-end">
    <button class="close-button" [mat-dialog-close]="false">
      <i class="ri-close-line"></i>
    </button>
  </div>

  <div class="get-started-header">
    <h2 class="mb-0 text-center">Notice</h2>
    <!-- <h2 class="mb-0 text-center">Let's get you started.</h2> -->
  </div>
</div>
<div mat-dialog-content class="get-started-wrapper mx-3">


  <div class=" mt-2">
    <div
      class="d-flex flex-column flex-sm-column flex-md-row flex-lg-row align-items-center"
    >
      <div class="col">
        <div class="d-flex px-3">
          <div
            class="get-started d-flex align-items-center align-items-sm-center align-items-md-start align-items-lg-start flex-column ml-4"
          >
            <div class="value mb-0 text-center">
              <div class="key text-center">
                <span
                  >You are applying to buy additional ordinary shares, would you
                  like to proceed?</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <div class="btn-wrapper mx-2">
        <button class="submit-btn" [mat-dialog-close]="true">Proceed</button>
      </div>
      <div class="btn-wrapper mx-2">
        <button class="action-btn" [mat-dialog-close]="false">Cancel</button>
      </div>
    </div>
  </div>
</div>
